<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815173981549-8o5eees6clipgr4p0d4eh51b1al6m5d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815173981549-8o5eees6clipgr4p0d4eh51b1al6m5d8</string>
	<key>API_KEY</key>
	<string>AIzaSyAmYsUC7Hkr0hNyPjvLySUIqozqnYPoXy4</string>
	<key>GCM_SENDER_ID</key>
	<string>815173981549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huextrat.taskist</string>
	<key>PROJECT_ID</key>
	<string>tasklist-8ce1e</string>
	<key>STORAGE_BUCKET</key>
	<string>tasklist-8ce1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815173981549:ios:4896d7cb2c882b633cf664</string>
</dict>
</plist>